@charset "UTF-8";
html{
  font-size: 100%;
  font-family: "Noto Sans JP",sans-serif;
  color: #000;
}
.main{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ヘッダー */
header{
  height: 7em;
  border-bottom: solid 1px #000;
  text-align: center;
  margin-bottom:0px;
  font-family: 'Shippori Mincho', serif;
}
header a{
  text-decoration: none;
  color: #000;
}
.page-title{
  font-size: 1em;
  font-weight: 500;
  font-family: 'Noto Serif JP';
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo{
  width: 6em;
  margin-top: -2em;
  margin-bottom: -4em;
}
/* メインコンテンツ */

.maincontent{
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.midashi{
  font-size: 4rem;
}
.midashi span{
  font-size: 1.5em;
  color: #f15a25;
}
/* 記事 */
.kizi{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 30px auto;
  line-height: 2;
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.521);
  padding: 30px;
  border-radius: 30px;
  padding-top: 0px;
}
.kizi img{
  width: 30%;
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.521);
  margin-right: 1em;
}
.kizi h2{
  font-size: 3em;
  border-bottom: #000 1px solid;
  margin-bottom: 1em;
}
.kizi h2 span{
  font-size: 1.5em;
  color: #89c3eb;
}
.detail{
  display: flex;
  flex-direction: row;
}

@media(max-width:1000px){
  .maincontent{
    margin: 0 4%;
  }
  .midashi{
    font-size: 2.5rem;
  }
  .kizi{
    width: 100%;
  }
  .kizi h2{
    font-size: 2em;
  }
  .detail{
    flex-direction: column;
    width: 90%;
    margin-right:auto;
    margin-left: auto;
  }
  .detail img{
    width: 100%;
    margin: 10px auto;
  }
}
