DirectoryIndex index.html index.htm index.shtml index.php index.cgi
Options -Indexes
AuthUserFile /home/coralcamel206/www/public/athlete/2021/.htpasswd
AuthType Basic
AuthName "Web access"
Satisfy all
Order deny,allow
